In [27]:
import requests
import re
from requests.exceptions import RequestException
import pandas as pd
POIid=pd.DataFrame()
for i in range(10):
    url = "https://wh.meituan.com/meishi/pn" + str(i+1) + '/'
    headers = {"User-Agent": "Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.0; Trident/4.0)"}
    try:
        # 访问页面
        response = requests.get(url, headers=headers)
        #print(response.text)
        #print(response.status_code)
        if response.status_code == 200:

           #正则表达式提取当前分页所有商家id以及访客信息
           find_poild=re.findall('"poiId":(\d*?),',response.text)
           find_uuid=re.findall('"uuid":"(.*?)",',response.text)
           #get_info进入商家详细页
           #get_info(find_poild,"wh",find_uuid)
           print(find_poild)
           POIid = POIid.append(pd.DataFrame({'POIID':find_poild}))
    except RequestException:
        print("None")  # 报错
print(POIid)

['194379111', '42788407', '5172474', '194644177', '5136959', '740990', '179661198', '42013159', '40735703', '187959145', '6662454', '2469846', '1432021256', '41272550', '4483037']
['62900395', '2410021', '5633439', '193495920', '6742130', '52735081', '189336024', '5335418', '4955388', '194286160', '5571696', '4557254', '194866030', '5131823', '5554797']
['193982131', '6200595', '41272550', '1267453502', '41938493', '5568574', '193681581', '4891248', '1496465', '187771642', '4955388', '745587', '5136959', '5151532', '4239555']
['188473431', '5792382', '6023271', '193379360', '6200595', '6873328', '592422377', '40061617', '4426164', '183978872', '42565232', '1556085', '193994566', '5344746', '4239555']
['193828092', '6926612', '750766', '195897682', '737759', '5568574', '163565991', '41938493', '42542072', '192085584', '6005863', '40949324', '185536739', '1468978', '41791178']
['195864525', '42522908', '41605051', '874654539', '796883', '40807181', '194293529', '42902189', '6546524', '193812165', '2477825', '5547288', '195432736', '745587', '40149531']
['193349947', '41132609', '41134530', '195170855', '42517472', '3292457', '169124533', '6275241', '2554256', '194941299', '2456671', '4128659', '193570419', '1026455', '737724']
['193570419', '41028741', '4177212', '193289516', '4647522', '1892707', '1762035290', '40791673', '6184304', '78675739', '40546993', '41770231', '194383319', '50988080', '40995875']
['150090166', '745018', '6643692', '159770987', '40426761', '40489068', '193931099', '4570262', '1898825', '192646236', '4170892', '41418170', '192562256', '751483', '4294542']
['194801184', '40030028', '6379458', '194767222', '42216096', '42854054', '194648005', '40292548', '741805', '160911973', '738559', '1150158', '194349987', '5877924', '2559790']
        POIID
0   194379111
1    42788407
2     5172474
3   194644177
4     5136959
..        ...
10     738559
11    1150158
12  194349987
13    5877924
14    2559790

[150 rows x 1 columns]

In [28]:
POIid

        POIID
0   194379111
1    42788407
2     5172474
3   194644177
4     5136959
..        ...
10     738559
11    1150158
12  194349987
13    5877924
14    2559790

[150 rows x 1 columns]